/**********************
      data grid 
 **********************/
.dataGridEvenRow {
  background: #ffffff;
}
.dataGridEvenRowCell {
  border: selectionBorderWidth solid #ffffff;
}
.dataGridOddRow {
  background: #f3f3f5;
}
.dataGridOddRowCell {
  border: selectionBorderWidth solid #f3f3f5;
}
.dataGridHoveredRow {
  background: #b1b3cc;
}
.dataGridHoveredRowCell {
  border: selectionBorderWidth solid #b1b3cc;
}
.dataGridKeyboardSelectedRow {
  background: #ffc;
}
.dataGridKeyboardSelectedRowCell {
  border: selectionBorderWidth solid #ffc;
}
.dataGridSelectedRow {
  background: #aaaab5;
}
.dataGridSelectedRowCell {
  border: selectionBorderWidth solid #aaaab5;
}
