/**********************
      cell table
 **********************/
.cellTableOddRow {
  background-color: #f3f3f5;
}
.cellTableOddRowCell {
  border: selectionBorderWidth solid #f3f3f5;
}
.cellTableEvenRow {
  background-color: #ffffff;
}
.cellTableEvenRowCell {
  border: selectionBorderWidth solid #ffffff;
}
.cellTableHoveredRow {
  background-color: #b1b3cc;
}
.cellTableHoveredRow {
  background: #9595a2;
}
.cellTableSelectedRow {
  background-color: #aaaab5;
}
.cellTableSelectedRowCell {
  border: selectionBorderWidth solid #aaaab5;
}
.cellTableHoveredRowCell {
  border: selectionBorderWidth solid #9595a2;
}
