/**********************
          gwt
 **********************/

html {
    font-size: 62.5%;
}
body, select {
    background-color: #FFFFFF;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}

a {
    color: #428BCA;
    text-decoration: none;
}

a:hover, a:focus {
    color: #2A6496;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
    outline-offset: -2px;
}

pre {
    font-family: "courier new",courier;
    font-size: small;
}

body {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    color: #000000;
    direction: ltr;
    margin: 0;
    padding: 0;
}

.gwt-Reference-standard {
    height: 5px;
    width: 5px;
}
.gwt-CheckBox {
}
.gwt-CheckBox-disabled {
    color: #888888;
}
.gwt-DecoratorPanel {
}
.gwt-DecoratorPanel .topCenter, .gwt-DecoratorPanel .bottomCenter {
    background: url("images/hborder.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}
.gwt-DecoratorPanel .middleLeft, .gwt-DecoratorPanel .middleRight {
    background: url("images/vborder.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
}
.gwt-DecoratorPanel .topLeftInner, .gwt-DecoratorPanel .topRightInner, .gwt-DecoratorPanel .bottomLeftInner, .gwt-DecoratorPanel .bottomRightInner {
    height: 5px;
    width: 5px;
}
.gwt-DecoratorPanel .topLeft {
    background: url("images/corner.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.gwt-DecoratorPanel .topRight {
    background: url("images/corner.png") no-repeat scroll -5px 0 rgba(0, 0, 0, 0);
}
.gwt-DecoratorPanel .bottomLeft {
    background: url("images/corner.png") no-repeat scroll 0 -5px rgba(0, 0, 0, 0);
}
.gwt-DecoratorPanel .bottomRight {
    background: url("images/corner.png") no-repeat scroll -5px -5px rgba(0, 0, 0, 0);
}
* html .gwt-DecoratorPanel .topLeftInner, * html .gwt-DecoratorPanel .topRightInner, * html .gwt-DecoratorPanel .bottomLeftInner, * html .gwt-DecoratorPanel .bottomRightInner {
    height: 5px;
    overflow: hidden;
    width: 5px;
}
.gwt-DialogBox .Caption {
    background: url("images/hborder.png") repeat-x scroll 0 -2003px #E3E8F3;
    border-bottom: 1px solid #BBBBBB;
    border-top: 5px solid #D0E4F6;
    cursor: default;
    padding: 4px 4px 4px 8px;
}
.gwt-DialogBox .dialogContent {
}
.gwt-DialogBox .dialogMiddleCenter {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 3px;
}
.gwt-DialogBox .dialogBottomCenter {
    background: url("images/hborder.png") repeat-x scroll 0 -4px rgba(0, 0, 0, 0);
}
.gwt-DialogBox .dialogMiddleLeft {
    background: url("images/vborder.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
}
.gwt-DialogBox .dialogMiddleRight {
    background: url("images/vborder.png") repeat-y scroll -4px 0 rgba(0, 0, 0, 0);
}
.gwt-DialogBox .dialogTopLeftInner {
    width: 5px;
}
.gwt-DialogBox .dialogTopRightInner {
    width: 8px;
}
.gwt-DialogBox .dialogBottomLeftInner {
    height: 8px;
    width: 5px;
}
.gwt-DialogBox .dialogBottomRightInner {
    height: 8px;
    width: 5px;
}
.gwt-DialogBox .dialogTopLeft {
    background: url("images/corner.png") no-repeat scroll -13px 0 rgba(0, 0, 0, 0);
}
.gwt-DialogBox .dialogTopRight {
    background: url("images/corner.png") no-repeat scroll -18px 0 rgba(0, 0, 0, 0);
}
.gwt-DialogBox .dialogBottomLeft {
    background: url("images/corner.png") no-repeat scroll 0 -15px rgba(0, 0, 0, 0);
}
.gwt-DialogBox .dialogBottomRight {
    background: url("images/corner.png") no-repeat scroll -5px -15px rgba(0, 0, 0, 0);
}
* html .gwt-DialogBox .dialogTopLeftInner {
    overflow: hidden;
    width: 5px;
}
* html .gwt-DialogBox .dialogTopRightInner {
    overflow: hidden;
    width: 8px;
}
* html .gwt-DialogBox .dialogBottomLeftInner {
    height: 8px;
    overflow: hidden;
    width: 5px;
}
* html .gwt-DialogBox .dialogBottomRightInner {
    height: 8px;
    overflow: hidden;
    width: 8px;
}
.gwt-DisclosurePanel {
}
.gwt-DisclosurePanel-open {
}
.gwt-DisclosurePanel-closed {
}
.gwt-DisclosurePanel .header, .gwt-DisclosurePanel .header a, .gwt-DisclosurePanel .header td {
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}
.gwt-DisclosurePanel .content {
    border-left: 3px solid #E8EEF7;
    margin-left: 6px;
    padding: 4px 0 4px 8px;
}
.gwt-FileUpload {
}
.gwt-Frame {
    border-color: #666666 #BBBBBB #BBBBBB #666666;
    border-style: solid;
    border-width: 2px;
}
.gwt-HorizontalSplitPanel {
}
.gwt-HorizontalSplitPanel .hsplitter {
    background: url("images/vborder.png") repeat-y scroll 0 0 #91C0EF;
    border: 0 none;
    cursor: move;
    line-height: 0;
}
.gwt-VerticalSplitPanel {
}
.gwt-VerticalSplitPanel .vsplitter {
    background: url("images/hborder.png") repeat-x scroll 0 0 #91C0EF;
    border: 0 none;
    cursor: move;
    line-height: 0;
}
.gwt-HTML {
}
.gwt-Hyperlink {
    cursor: pointer;
}
.gwt-Image {
}
.gwt-Label {
}
.gwt-ListBox {
}
.gwt-MenuBar {
    cursor: default;
}
.gwt-MenuBar .gwt-MenuItem {
    cursor: default;
}
.gwt-MenuBar .gwt-MenuItem-selected {
    background: none repeat scroll 0 0 rgb(57, 179, 215);
    color: rgb(255, 255, 255);
}
.gwt-MenuBar .gwt-MenuItem-disabled {
    color: #C0C0C0;
}
.gwt-MenuBar-horizontal {
    background: url("images/hborder.png") repeat-x scroll 0 -2003px #E3E8F3;
    border: 1px solid #BBBBBB;
}
.gwt-MenuBar-horizontal .gwt-MenuItem {
    color: #666666;
    font-weight: bold;
    padding: 0 10px;
    vertical-align: bottom;
}
.gwt-MenuBar-horizontal .gwt-MenuItemSeparator {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #888888;
    border-image: none;
    border-style: none none none solid;
    border-width: 0 0 0 1px;
    margin: 0;
    padding: 0;
    width: 1px;
}
.gwt-MenuBar-horizontal .gwt-MenuItemSeparator .menuSeparatorInner {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 1px;
    width: 1px;
}
.gwt-MenuBar-vertical {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-left: 0;
    margin-top: 0;
}
.gwt-MenuBar-vertical table {
    border-collapse: collapse;
}
.gwt-MenuBar-vertical .gwt-MenuItem {
    padding: 4px 14px 4px 1px;
}
.gwt-MenuBar-vertical .gwt-MenuItemSeparator {
    padding: 2px 0;
}
.gwt-MenuBar-vertical .gwt-MenuItemSeparator .menuSeparatorInner {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #DDDDEE;
    border-color: #777777 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    height: 1px;
    overflow: hidden;
    padding: 0;
}
.gwt-MenuBar-vertical .subMenuIcon {
    padding-right: 4px;
}
.gwt-MenuBar-vertical .subMenuIcon-selected {
    background: none repeat scroll 0 0 rgb(57, 179, 215);
}
.gwt-MenuBarPopup {
    margin: 0 0 0 3px;
}
.gwt-MenuBarPopup .menuPopupTopCenter {
    background: url("images/hborder.png") repeat-x scroll 0 -12px rgba(0, 0, 0, 0);
}
.gwt-MenuBarPopup .menuPopupBottomCenter {
    background: url("images/hborder.png") repeat-x scroll 0 -13px rgba(0, 0, 0, 0);
}
.gwt-MenuBarPopup .menuPopupMiddleLeft {
    background: url("images/vborder.png") repeat-y scroll -12px 0 rgba(0, 0, 0, 0);
}
.gwt-MenuBarPopup .menuPopupMiddleRight {
    background: url("images/vborder.png") repeat-y scroll -13px 0 rgba(0, 0, 0, 0);
}
.gwt-MenuBarPopup .menuPopupTopLeftInner {
    height: 5px;
    width: 5px;
}
.gwt-MenuBarPopup .menuPopupTopRightInner {
    height: 5px;
    width: 8px;
}
.gwt-MenuBarPopup .menuPopupBottomLeftInner {
    height: 8px;
    width: 5px;
}
.gwt-MenuBarPopup .menuPopupBottomRightInner {
    height: 8px;
    width: 8px;
}
.gwt-MenuBarPopup .menuPopupTopLeft {
    background: url("images/corner.png") no-repeat scroll 0 -36px rgba(0, 0, 0, 0);
}
.gwt-MenuBarPopup .menuPopupTopRight {
    background: url("images/corner.png") no-repeat scroll -5px -36px rgba(0, 0, 0, 0);
}
.gwt-MenuBarPopup .menuPopupBottomLeft {
    background: url("images/corner.png") no-repeat scroll 0 -41px rgba(0, 0, 0, 0);
}
.gwt-MenuBarPopup .menuPopupBottomRight {
    background: url("images/corner.png") no-repeat scroll -5px -41px rgba(0, 0, 0, 0);
}
* html .gwt-MenuBarPopup .menuPopupTopLeftInner {
    height: 5px;
    overflow: hidden;
    width: 5px;
}
* html .gwt-MenuBarPopup .menuPopupTopRightInner {
    height: 5px;
    overflow: hidden;
    width: 8px;
}
* html .gwt-MenuBarPopup .menuPopupBottomLeftInner {
    height: 8px;
    overflow: hidden;
    width: 5px;
}
* html .gwt-MenuBarPopup .menuPopupBottomRightInner {
    height: 8px;
    overflow: hidden;
    width: 8px;
}
.gwt-PasswordTextBox {
    padding: 2px;
}
.gwt-PasswordTextBox-readonly {
    color: #888888;
}
.gwt-PopupPanel {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid rgb(200, 200, 200);
    padding: 3px;
    z-index: 99;
}
.gwt-DecoratedPopupPanel .popupContent {
}
.gwt-DecoratedPopupPanel .popupMiddleCenter {
    background: none repeat scroll 0 0 #D0E4F6;
    padding: 3px;
}
.gwt-DecoratedPopupPanel .popupTopCenter {
    background: url("images/hborder.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}
.gwt-DecoratedPopupPanel .popupBottomCenter {
    background: url("images/hborder.png") repeat-x scroll 0 -4px rgba(0, 0, 0, 0);
}
.gwt-DecoratedPopupPanel .popupMiddleLeft {
    background: url("images/vborder.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
}
.gwt-DecoratedPopupPanel .popupMiddleRight {
    background: url("images/vborder.png") repeat-y scroll -4px 0 rgba(0, 0, 0, 0);
}
.gwt-DecoratedPopupPanel .popupTopLeftInner {
    height: 5px;
    width: 5px;
}
.gwt-DecoratedPopupPanel .popupTopRightInner {
    height: 5px;
    width: 8px;
}
.gwt-DecoratedPopupPanel .popupBottomLeftInner {
    height: 8px;
    width: 5px;
}
.gwt-DecoratedPopupPanel .popupBottomRightInner {
    height: 8px;
    width: 8px;
}
.gwt-DecoratedPopupPanel .popupTopLeft {
    background: url("images/corner.png") no-repeat scroll 0 -10px rgba(0, 0, 0, 0);
}
.gwt-DecoratedPopupPanel .popupTopRight {
    background: url("images/corner.png") no-repeat scroll -5px -10px rgba(0, 0, 0, 0);
}
.gwt-DecoratedPopupPanel .popupBottomLeft {
    background: url("images/corner.png") no-repeat scroll 0 -15px rgba(0, 0, 0, 0);
}
.gwt-DecoratedPopupPanel .popupBottomRight {
    background: url("images/corner.png") no-repeat scroll -5px -15px rgba(0, 0, 0, 0);
}
* html .gwt-DecoratedPopupPanel .popupTopLeftInner {
    height: 5px;
    overflow: hidden;
    width: 5px;
}
* html .gwt-DecoratedPopupPanel .popupTopRightInner {
    height: 5px;
    overflow: hidden;
    width: 8px;
}
* html .gwt-DecoratedPopupPanel .popupBottomLeftInner {
    height: 8px;
    overflow: hidden;
    width: 5px;
}
* html .gwt-DecoratedPopupPanel .popupBottomRightInner {
    height: 8px;
    overflow: hidden;
    width: 8px;
}
.gwt-PopupPanelGlass {
    background-color: #000000;
    opacity: 0.3;
}
.gwt-PushButton-up, .gwt-PushButton-up-hovering, .gwt-PushButton-up-disabled, .gwt-PushButton-down, .gwt-PushButton-down-hovering, .gwt-PushButton-down-disabled {
    background: url("images/hborder.png") repeat-x scroll 0 -27px rgba(0, 0, 0, 0);
    margin: 0;
    text-decoration: none;
}
.gwt-PushButton-up, .gwt-PushButton-up-hovering, .gwt-PushButton-up-disabled {
    padding: 3px 5px;
}
.gwt-PushButton-up {
    border: 1px outset #CCCCCC;
    cursor: pointer;
}
.gwt-PushButton-up-hovering {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #99CCFF #6699EE #6699EE #77AAFF;
    border-image: none;
    border-style: outset;
    border-width: 1px;
    cursor: pointer;
}
.gwt-PushButton-up-disabled {
    border: 1px outset #CCCCCC;
    cursor: default;
    opacity: 0.5;
}
.gwt-PushButton-down, .gwt-PushButton-down-hovering, .gwt-PushButton-down-disabled {
    padding: 4px 4px 2px 6px;
}
.gwt-PushButton-down {
    border: 1px inset #666666;
    cursor: pointer;
}
.gwt-PushButton-down-hovering {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #99CCFF #6699EE #6699EE #77AAFF;
    border-image: none;
    border-style: inset;
    border-width: 1px;
    cursor: pointer;
}
.gwt-PushButton-down-disabled {
    border: 1px outset #CCCCCC;
    cursor: default;
    opacity: 0.5;
}
.gwt-RadioButton {
}
.gwt-RadioButton-disabled {
    color: #888888;
}
.gwt-RichTextArea {
}
.hasRichTextToolbar {
    border: 0 none;
}
.gwt-RichTextToolbar {
    background: url("images/hborder.png") repeat-x scroll 0 -2003px #E3E8F3;
    border-bottom: 1px solid #BBBBBB;
    margin: 0;
    padding: 3px;
}
.gwt-RichTextToolbar .gwt-PushButton-up {
    border-width: 1px;
    margin-bottom: 4px;
    margin-right: 4px;
    padding: 0 1px 0 0;
}
.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
    border-width: 1px;
    margin-bottom: 4px;
    margin-right: 4px;
    padding: 0 1px 0 0;
}
.gwt-RichTextToolbar .gwt-PushButton-down {
    border-width: 1px;
    margin-bottom: 4px;
    margin-right: 4px;
    padding: 0 0 0 1px;
}
.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
    border-width: 1px;
    margin-bottom: 4px;
    margin-right: 4px;
    padding: 0 0 0 1px;
}
.gwt-RichTextToolbar .gwt-ToggleButton-up {
    border-width: 1px;
    margin-bottom: 4px;
    margin-right: 4px;
    padding: 0 1px 0 0;
}
.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
    border-width: 1px;
    margin-bottom: 4px;
    margin-right: 4px;
    padding: 0 1px 0 0;
}
.gwt-RichTextToolbar .gwt-ToggleButton-down {
    border-width: 1px;
    margin-bottom: 4px;
    margin-right: 4px;
    padding: 0 0 0 1px;
}
.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
    border-width: 1px;
    margin-bottom: 4px;
    margin-right: 4px;
    padding: 0 0 0 1px;
}
.gwt-StackPanel {
    border-bottom: 1px solid #BBBBBB;
}
.gwt-StackPanel .gwt-StackPanelItem {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("images/hborder.png") repeat-x scroll 0 -989px #D3DEF6;
    border-color: #BBBBBB #BBBBBB -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: bold;
    padding: 3px;
}
.gwt-StackPanel .gwt-StackPanelContent {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #BBBBBB #BBBBBB -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    padding: 2px 2px 10px 5px;
}
.gwt-DecoratedStackPanel {
    border-bottom: 1px solid #BBBBBB;
}
.gwt-DecoratedStackPanel .gwt-StackPanelContent {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #BBBBBB #BBBBBB -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    padding: 2px 2px 10px 5px;
}
.gwt-DecoratedStackPanel .gwt-StackPanelItem {
    cursor: pointer;
}
.gwt-DecoratedStackPanel .stackItemTopLeft, .gwt-DecoratedStackPanel .stackItemTopRight {
    height: 6px;
    width: 6px;
}
.gwt-DecoratedStackPanel .stackItemTopLeft {
    background: url("images/corner.png") no-repeat scroll 0 -49px #D3DEF6;
    border-left: 1px solid #BBBBBB;
}
.gwt-DecoratedStackPanel .stackItemTopRight {
    background: url("images/corner.png") no-repeat scroll -6px -49px #D3DEF6;
    border-right: 1px solid #BBBBBB;
}
.gwt-DecoratedStackPanel .stackItemTopLeftInner, .gwt-DecoratedStackPanel .stackItemTopRightInner {
    height: 1px;
    width: 1px;
}
* html .gwt-DecoratedStackPanel .stackItemTopLeftInner, * html .gwt-DecoratedStackPanel .stackItemTopRightInner {
    height: 6px;
    overflow: hidden;
    width: 6px;
}
.gwt-DecoratedStackPanel .stackItemTopCenter {
    background: url("images/hborder.png") repeat-x scroll 0 -21px rgba(0, 0, 0, 0);
}
.gwt-DecoratedStackPanel .stackItemMiddleLeft {
    background: url("images/hborder.png") repeat-x scroll 0 -989px #D3DEF6;
    border-left: 1px solid #BBBBBB;
}
.gwt-DecoratedStackPanel .stackItemMiddleLeftInner, .gwt-DecoratedStackPanel .stackItemMiddleRightInner {
    height: 1px;
    width: 1px;
}
.gwt-DecoratedStackPanel .stackItemMiddleRight {
    background: url("images/hborder.png") repeat-x scroll 0 -989px #D3DEF6;
    border-right: 1px solid #BBBBBB;
}
.gwt-DecoratedStackPanel .stackItemMiddleCenter {
    background: url("images/hborder.png") repeat-x scroll 0 -989px #D3DEF6;
    font-size: 1.3em;
    font-weight: bold;
}
.gwt-DecoratedStackPanel .gwt-StackPanelItem-first .stackItemTopRight, .gwt-DecoratedStackPanel .gwt-StackPanelItem-first .stackItemTopLeft {
    background-color: #FFFFFF;
    border: 0 none;
}
.gwt-DecoratedStackPanel .gwt-StackPanelItem-below-selected .stackItemTopLeft, .gwt-DecoratedStackPanel .gwt-StackPanelItem-below-selected .stackItemTopRight {
    background-color: #FFFFFF;
}
.gwt-SuggestBox {
    padding: 2px;
}
.gwt-SuggestBoxPopup {
    margin-left: 3px;
}
.gwt-SuggestBoxPopup .item {
    color: #424242;
    cursor: default;
    padding: 2px 6px;
}
.gwt-SuggestBoxPopup .item-selected {
    background: none repeat scroll 0 0 rgb(57, 179, 215);
}
.gwt-SuggestBoxPopup .suggestPopupContent {
    background: none repeat scroll 0 0 #FFFFFF;
}
.gwt-SuggestBoxPopup .suggestPopupTopCenter {
    background: url("images/hborder.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}
.gwt-SuggestBoxPopup .suggestPopupBottomCenter {
    background: url("images/hborder.png") repeat-x scroll 0 -4px rgba(0, 0, 0, 0);
}
.gwt-SuggestBoxPopup .suggestPopupMiddleLeft {
    background: url("images/vborder.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
}
.gwt-SuggestBoxPopup .suggestPopupMiddleRight {
    background: url("images/vborder.png") repeat-y scroll -4px 0 rgba(0, 0, 0, 0);
}
.gwt-SuggestBoxPopup .suggestPopupTopLeftInner {
    height: 5px;
    width: 5px;
}
.gwt-SuggestBoxPopup .suggestPopupTopRightInner {
    height: 5px;
    width: 8px;
}
.gwt-SuggestBoxPopup .suggestPopupBottomLeftInner {
    height: 8px;
    width: 5px;
}
.gwt-SuggestBoxPopup .suggestPopupBottomRightInner {
    height: 8px;
    width: 8px;
}
.gwt-SuggestBoxPopup .suggestPopupTopLeft {
    background: url("images/corner.png") no-repeat scroll 0 -23px rgba(0, 0, 0, 0);
}
.gwt-SuggestBoxPopup .suggestPopupTopRight {
    background: url("images/corner.png") no-repeat scroll -5px -23px rgba(0, 0, 0, 0);
}
.gwt-SuggestBoxPopup .suggestPopupBottomLeft {
    background: url("images/corner.png") no-repeat scroll 0 -28px rgba(0, 0, 0, 0);
}
.gwt-SuggestBoxPopup .suggestPopupBottomRight {
    background: url("images/corner.png") no-repeat scroll -5px -28px rgba(0, 0, 0, 0);
}
* html .gwt-SuggestBoxPopup .suggestPopupTopLeftInner {
    height: 5px;
    overflow: hidden;
    width: 5px;
}
* html .gwt-SuggestBoxPopup .suggestPopupTopRightInner {
    height: 5px;
    overflow: hidden;
    width: 8px;
}
* html .gwt-SuggestBoxPopup .suggestPopupBottomLeftInner {
    height: 8px;
    overflow: hidden;
    width: 5px;
}
* html .gwt-SuggestBoxPopup .suggestPopupBottomRightInner {
    height: 8px;
    overflow: hidden;
    width: 8px;
}
.gwt-TabBar {
}
.gwt-TabBar .gwt-TabBarFirst {
    width: 5px;
}
.gwt-TabBar .gwt-TabBarRest {
}
.gwt-TabBar .gwt-TabBarItem {
    background: none repeat scroll 0 0 #D0E4F6;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    margin-left: 6px;
    padding: 3px 6px;
    text-align: center;
}
.gwt-TabBar .gwt-TabBarItem-selected {
    background: none repeat scroll 0 0 #92C1F0;
    cursor: default;
}
.gwt-TabBar .gwt-TabBarItem-disabled {
    color: #999999;
    cursor: default;
}
.gwt-TabPanel {
}
.gwt-TabPanelBottom {
    border-color: #92C1F0;
    border-style: solid;
    border-width: 3px 2px 2px;
    overflow: hidden;
    padding: 6px;
}
.gwt-DecoratedTabBar {
}
.gwt-DecoratedTabBar .gwt-TabBarFirst {
    width: 5px;
}
.gwt-DecoratedTabBar .gwt-TabBarRest {
}
.gwt-DecoratedTabBar .gwt-TabBarItem {
    border-collapse: collapse;
    margin-left: 6px;
}
.gwt-DecoratedTabBar .tabTopCenter {
    background: none repeat scroll 0 0 #D0E4F6;
    padding: 0;
}
.gwt-DecoratedTabBar .tabTopLeft, .gwt-DecoratedTabBar .tabTopRight {
    padding: 0;
}
.gwt-DecoratedTabBar .tabTopLeftInner, .gwt-DecoratedTabBar .tabTopRightInner {
    height: 6px;
    width: 6px;
}
.gwt-DecoratedTabBar .tabTopLeft {
    background: url("images/corner.png") no-repeat scroll 0 -55px rgba(0, 0, 0, 0);
}
.gwt-DecoratedTabBar .tabTopRight {
    background: url("images/corner.png") no-repeat scroll -6px -55px rgba(0, 0, 0, 0);
}
* html .gwt-DecoratedTabBar .tabTopLeftInner, * html .gwt-DecoratedTabBar .tabTopRightInner {
    height: 6px;
    overflow: hidden;
    width: 6px;
}
.gwt-DecoratedTabBar .tabMiddleLeft, .gwt-DecoratedTabBar .tabMiddleRight {
    background: none repeat scroll 0 0 #D0E4F6;
    padding: 0;
    width: 6px;
}
.gwt-DecoratedTabBar .tabMiddleLeftInner, .gwt-DecoratedTabBar .tabMiddleRightInner {
    height: 1px;
    width: 1px;
}
.gwt-DecoratedTabBar .tabMiddleCenter {
    background: none repeat scroll 0 0 #D0E4F6;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 0 4px 2px;
    text-align: center;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopCenter {
    background: none repeat scroll 0 0 #92C1F0;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopLeft {
    background-position: 0 -61px;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopRight {
    background-position: -6px -61px;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleLeft, .gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleRight {
    background: none repeat scroll 0 0 #92C1F0;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleCenter {
    background: none repeat scroll 0 0 #92C1F0;
    cursor: default;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-disabled .tabMiddleCenter {
    color: #999999;
    cursor: default;
}
.gwt-TextArea {
    padding: 2px;
}
.gwt-TextArea-readonly {
    color: #888888;
}
.gwt-TextBox {
    padding: 2px;
}
.gwt-TextBox-readonly {
    color: #888888;
}
.gwt-ToggleButton-up, .gwt-ToggleButton-up-hovering, .gwt-ToggleButton-up-disabled, .gwt-ToggleButton-down, .gwt-ToggleButton-down-hovering, .gwt-ToggleButton-down-disabled {
    background: url("images/hborder.png") repeat-x scroll 0 -27px rgba(0, 0, 0, 0);
    margin: 0;
    text-decoration: none;
}
.gwt-ToggleButton-up, .gwt-ToggleButton-up-hovering, .gwt-ToggleButton-up-disabled {
    padding: 3px 5px;
}
.gwt-ToggleButton-up {
    border: 1px outset #CCCCCC;
    cursor: pointer;
}
.gwt-ToggleButton-up-hovering {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #99CCFF #6699EE #6699EE #77AAFF;
    border-image: none;
    border-style: outset;
    border-width: 1px;
    cursor: pointer;
}
.gwt-ToggleButton-up-disabled {
    border: 1px outset #CCCCCC;
    cursor: default;
    opacity: 0.5;
}
.gwt-ToggleButton-down, .gwt-ToggleButton-down-hovering, .gwt-ToggleButton-down-disabled {
    padding: 4px 4px 2px 6px;
}
.gwt-ToggleButton-down {
    background-position: 0 -513px;
    border: 1px inset #CCCCCC;
    cursor: pointer;
}
.gwt-ToggleButton-down-hovering {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-position: 0 -513px;
    border-color: #99CCFF #6699EE #6699EE #77AAFF;
    border-image: none;
    border-style: inset;
    border-width: 1px;
    cursor: pointer;
}
.gwt-ToggleButton-down-disabled {
    background-position: 0 -513px;
    border: 1px inset #CCCCCC;
    cursor: default;
    opacity: 0.5;
}
.gwt-Tree .gwt-TreeItem {
    cursor: pointer;
    margin: 0;
    padding: 1px 0;
    white-space: nowrap;
}
.gwt-Tree .gwt-TreeItem-selected {
    background: url("images/hborder.png") repeat-x scroll 0 -1463px #93C2F1;
}
.gwt-TreeItem .gwt-RadioButton input, .gwt-TreeItem .gwt-CheckBox input {
    margin-left: 0;
}
* html .gwt-TreeItem .gwt-RadioButton input, * html .gwt-TreeItem .gwt-CheckBox input {
    margin-left: -4px;
}
.gwt-DateBox input {
    width: 8em;
}
.dateBoxFormatError {
    background: none repeat scroll 0 0 #FFCCCC;
}
.dateBoxPopup {
}
.gwt-DatePicker {
    border: 1px solid #A2BBDD;
    cursor: default;
}
.gwt-DatePicker td, .datePickerMonthSelector td:focus {
    outline: medium none;
}
.datePickerDays {
    background: none repeat scroll 0 0 #FFFFFF;
    width: 100%;
}
.datePickerDay, .datePickerWeekdayLabel, .datePickerWeekendLabel {
    font-size: 75%;
    outline: medium none;
    padding: 4px;
    text-align: center;
}
.datePickerWeekdayLabel, .datePickerWeekendLabel {
    background: none repeat scroll 0 0 #C3D9FF;
    cursor: default;
    padding: 0 4px 2px;
}
.datePickerDay {
    cursor: pointer;
    padding: 4px;
}
.datePickerDayIsToday {
    border: 1px solid #000000;
    padding: 3px;
}
.datePickerDayIsWeekend {
    background: none repeat scroll 0 0 #EEEEEE;
}
.datePickerDayIsFiller {
    color: #888888;
}
.datePickerDayIsValue {
    background: none repeat scroll 0 0 #AACCEE;
}
.datePickerDayIsDisabled {
    color: #AAAAAA;
    font-style: italic;
}
.datePickerDayIsHighlighted {
    background: none repeat scroll 0 0 #F0E68C;
}
.datePickerDayIsValueAndHighlighted {
    background: none repeat scroll 0 0 #BBDDD9;
}
.datePickerMonthSelector {
    background: none repeat scroll 0 0 #C3D9FF;
    width: 100%;
}
td.datePickerMonth {
    color: #0000FF;
    font-size: 70%;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}
.datePickerPreviousButton, .datePickerNextButton {
    color: #0000FF;
    cursor: pointer;
    font-size: 120%;
    line-height: 1em;
    padding: 0 4px;
}
.gwt-StackLayoutPanel {
    border-bottom: 1px solid #BBBBBB;
}
.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader {
    
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border-bottom: 2px solid transparent;
    -moz-user-select: none;
    color: rgb(51, 51, 51);
    background-color: rgb(235, 235, 235);
    border-color: rgb(204, 204, 204);

}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader-hovering {
    color: rgb(51, 51, 51);
    background-color: rgb(200, 200, 200);
    border-color: rgb(173, 173, 173);
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelContent {
}
.gwt-TabLayoutPanel {
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
}
.gwt-TabLayoutPanelContentContainer {
    border-color: #92C1F0;
    border-style: solid;
    border-width: 2px 1px 1px;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
    border-color: #92C1F0;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 6px;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    background: none repeat scroll 0 0 #D0E4F6;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    margin-left: 6px;
    padding: 3px 6px;
    text-align: center;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
    background: none repeat scroll 0 0 #92C1F0;
    cursor: default;
}
.gwt-SplitLayoutPanel-HDragger {
    background: url("images/splitPanelThumb.png") no-repeat scroll center center #D0E4F6;
    cursor: col-resize;
}
.gwt-SplitLayoutPanel-VDragger {
    background: url("images/splitPanelThumb.png") no-repeat scroll center center #D0E4F6;
    cursor: row-resize;
}

/**********************
        myadmin
 **********************/

.docklayoutpanel-center {
	margin: 1em;
}

.docklayoutpanel-east {
	margin-left: 1em;
}

.docklayoutpanel-north {
	margin-bottom: 1em;
}

.docklayoutpanel-south {
	margin-top: 1em;
}

.docklayoutpanel-west {
	margin-right: 1em;
	background-color: rgb(247, 245, 250);
}

.docklayoutpanel-line_end {
	margin-top: 1em;
}

.docklayoutpanel-line_start {
	margin-bottom: 1em;
}

.debug-border {
	border: 1px solid #FF0000;
}

.module {
	padding: 1em;
}

/*  when changing the error styles don't forget to also change the following styles:
	 - .dateBoxFormatError
*/

.title {
	font-size: 200%;
	font-weight: bold;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

.gwt-PopupPanelGlass {
	background-color: #000;
	opacity: 0.3;
	filter: literal("alpha(opacity=30)");
}

/**********************
        headers
 **********************/

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:500;
	line-height:1.1;
	color:inherit
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,.h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small,h1 .small,h2 .small,h3 .small,h4 .small,h5 .small,h6 .small,.h1 .small,.h2 .small,.h3 .small,.h4 .small,.h5 .small,.h6 .small{
	font-weight:normal;
	line-height:1;
	color:#999
}

h1,h2,h3{
	margin-top:20px;
	margin-bottom:10px
}

h1 small,h2 small,h3 small,h1 .small,h2 .small,h3 .small{
	font-size:65%
}

h4,h5,h6{
	margin-top:10px;
	margin-bottom:10px
}

h4 small,h5 small,h6 small,h4 .small,h5 .small,h6 .small{
	font-size:75%
}

h1,.h1{
	font-size:36px
}

h2,.h2{
	font-size:30px
}

h3,.h3{
	font-size:24px
}

h4,.h4{
	font-size:18px
}

h5,.h5{
	font-size:14px
}

h6,.h6{
	font-size:12px
}

/**********************
     button group
 **********************/

.btn-group,.btn-group-vertical{
	position:relative;
	display:inline-block;
	vertical-align:middle
}

.btn-group>.btn,.btn-group-vertical>.btn{
	position:relative;
	float:left
}

.btn-group>.btn:hover,.btn-group-vertical>.btn:hover,.btn-group>.btn:focus,.btn-group-vertical>.btn:focus,.btn-group>.btn:active,.btn-group-vertical>.btn:active,.btn-group>.btn.active,.btn-group-vertical>.btn.active{
	z-index:2
}

.btn-group>.btn:focus,.btn-group-vertical>.btn:focus{
	outline:0
}

.btn-group .btn+.btn,.btn-group .btn+.btn-group,.btn-group .btn-group+.btn,.btn-group .btn-group+.btn-group{
	margin-left:-1px
}

.btn-toolbar:before,.btn-toolbar:after{
	display:table;
	content:" "
}

.btn-toolbar:after{
	clear:both
}

.btn-toolbar:before,.btn-toolbar:after{
	display:table;
	content:" "
}

.btn-toolbar:after{
	clear:both
}

.btn-toolbar .btn-group{
	float:left
}

.btn-toolbar>.btn+.btn,.btn-toolbar>.btn-group+.btn,.btn-toolbar>.btn+.btn-group,.btn-toolbar>.btn-group+.btn-group{
	margin-left:5px
}

.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle){
	border-radius:0
}

.btn-group>.btn:first-child{
	margin-left:0
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle){
	border-top-right-radius:0;
	border-bottom-right-radius:0
}

.btn-group>.btn:last-child:not(:first-child),.btn-group>.dropdown-toggle:not(:first-child){
	border-bottom-left-radius:0;
	border-top-left-radius:0
}

.btn-group>.btn-group{
	float:left
}

.btn-group>.btn-group:not(:first-child):not(:last-child)>.btn{
	border-radius:0
}

.btn-group>.btn-group:first-child>.btn:last-child,.btn-group>.btn-group:first-child>.dropdown-toggle{
	border-top-right-radius:0;
	border-bottom-right-radius:0
}

.btn-group>.btn-group:last-child>.btn:first-child{
	border-bottom-left-radius:0;
	border-top-left-radius:0
}

.btn-group .dropdown-toggle:active,.btn-group.open .dropdown-toggle{
	outline:0
}

/**********************
         button
 **********************/

 .gwt-Button, .btn{
	display:inline-block;
	padding:6px 12px;
	margin-bottom:0;
	font-size:14px;
	font-weight:normal;
	line-height:1.428571429;
	text-align:center;
	white-space:nowrap;
	vertical-align:middle;
	cursor:pointer;
	background-image:none;
	border:1px solid transparent;
	border-radius:4px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none
}

.gwt-Button:active, .btn:active,.btn.active{
	background-image:none;
	outline:0;
	-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);
	box-shadow:inset 0 3px 5px rgba(0,0,0,0.125)
}

.gwt-Button:hover, .btn:hover,.btn:focus{
	color:#333;
	text-decoration:none
}

.gwt-Button[disabled], .btn.disabled,.btn[disabled],fieldset[disabled] .btn{
	pointer-events:none;
	cursor:not-allowed;
	opacity:.65;
	filter:alpha(opacity=65);
	-webkit-box-shadow:none;
	box-shadow:none
}

.gwt-Button[disabled]:hover {
}


/**********************
     button default
 **********************/

.btn-default{
	color:#333;
	background-color:#fff;
	border-color:#ccc
}

.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default{
	color:#333;
	background-color:#ebebeb;
	border-color:#adadad
}

.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default{
	background-image:none
}

.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active{
	background-color:#fff;
	border-color:#ccc
}

.btn-default .badge{
	color:#fff;
	background-color:#fff
}


/**********************
     button primary
 **********************/

.btn-primary{
	color:#fff;
	background-color:#428bca;
	border-color:#357ebd
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{
	color:#fff;
	background-color:#3276b1;
	border-color:#285e8e
}

.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{
	background-image:none
}

.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active{
	background-color:#428bca;
	border-color:#357ebd
}

.btn-primary .badge{
	color:#428bca;
	background-color:#fff
} 

/**********************
       controls
 **********************/

.form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: rgb(85, 85, 85);
    vertical-align: middle;
    background-image: none;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    background-color: rgb(255, 255, 255);
}

.form-control:focus{
	border-color:#66afe9;
	outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6)
}

.form-control-error {
	border-color: #A94442;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.form-control-error:focus {
	border-color: #A94442;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.navigationOverview {
}

.navigationOverview td {
	text-align: center;
	vertical-align: middle;
}

.navigationOverviewPanelWrapper {
	margin: 0 auto;
}

.navigationOverviewPanelWrapper:hover {
    background-color: rgb(247, 245, 250);
    cursor: pointer;
}

.navigationOverviewPanel {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.navigationOverviewText  {
    font-size: 18px;
}

/**********************
    dictionary search
 **********************/

.dictionarySearchInputPanel {
	margin: 0.5em;
}

.dictionarySearchResultPanel {
}

.dictionarySearchTextHighlight {
	font-weight: bold;
}

.dictionarySearchResultItemPanel {
	margin: 0.25em;
}

.dictionarySearchResultItemTitle {
	font-size: 120%;
	font-weight: bold;
}
 