@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
/**********************
        mango
 **********************/
.top-spacer {
  margin-top: 1.5em;
}
.docklayoutpanel-center {
  margin: 1em;
}
.docklayoutpanel-east {
  margin-left: 1em;
}
.docklayoutpanel-north {
  margin-bottom: 1em;
}
.docklayoutpanel-south {
  margin-top: 1em;
}
.docklayoutpanel-west {
  margin-right: 1em;
  background-color: #f3f3f5;
}
.docklayoutpanel-line_end {
  margin-top: 1em;
}
.docklayoutpanel-line_start {
  margin-bottom: 1em;
}
.debug-border {
  border: 1px solid #FF0000;
}
.module {
  padding: 1em;
}
/*  when changing the error styles don't forget to also change the following styles:
	 - .dateBoxFormatError
*/
.title {
  font-size: 200%;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
.gwt-PopupPanelGlass {
  background-color: #000;
  opacity: 0.3;
  filter: literal("alpha(opacity=30)");
}
/**********************
       glyphicon
 **********************/
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  font-family: "Glyphicons Halflings";
}
.glyphicon-remove:before {
  content: "î€”";
}
.navigationOverview td {
  text-align: center;
  vertical-align: middle;
}
.navigationOverviewPanelWrapper {
  margin: 0 auto;
}
.navigationOverviewPanelWrapper:hover {
  background-color: #9496b9;
  cursor: pointer;
}
.navigationOverviewPanel {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.navigationOverviewText {
  font-size: 18px;
}
.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader {
  border: 0px;
}
/**********************
    dictionary search
 **********************/
.dictionarySearchInputPanel {
  margin: 0.5em;
}
.dictionarySearchTextHighlight {
  font-weight: bold;
}
.dictionarySearchResultItemPanel {
  margin: 0.25em;
}
.dictionarySearchResultItemTitle {
  font-size: 120%;
  font-weight: bold;
}
.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader {
  background-image: none;
  text-align: center;
  display: inline-block;
  background-color: #aaaab5;
  border-color: #9595a2;
  vertical-align: middle;
}
.gwt-StackLayoutPanel .gwt-StackLayoutPanelContent {
  background: none;
  border: 0px;
}
.gwt-PopupPanel {
  border: 1px solid #cccccc;
  background-color: #ffffff;
  padding: 1em;
}
/**********************
   reference control
 **********************/
.gwt-SuggestBoxPopup .suggestPopupMiddleLeft {
  background: none;
  background-color: #fff;
  border-left: 1px solid #cccccc;
}
.gwt-SuggestBoxPopup .suggestPopupMiddleRight {
  background: none;
  background-color: #fff;
  border-right: 1px solid #cccccc;
}
.gwt-SuggestBoxPopup .suggestPopupTopLeft {
  background: none;
  border-bottom: 1px solid #cccccc;
}
.gwt-SuggestBoxPopup .suggestPopupTopCenter {
  background: none;
  border-bottom: 1px solid #cccccc;
}
.gwt-SuggestBoxPopup .suggestPopupTopRight {
  background: none;
  border-bottom: 1px solid #cccccc;
}
.gwt-SuggestBoxPopup .suggestPopupBottomLeft {
  background: none;
  border-top: 1px solid #cccccc;
}
.gwt-SuggestBoxPopup .suggestPopupBottomCenter {
  background: none;
  border-top: 1px solid #cccccc;
}
.gwt-SuggestBoxPopup .suggestPopupBottomRight {
  background: none;
  border-top: 1px solid #cccccc;
}
/**********************
     help popup
 **********************/
.help-popup {
  width: 400px;
  overflow: auto;
}
/**********************
     column layout
 **********************/
.column-layout-horizontal-spacing {
  padding-left: 3em;
}
.endless-grid-new-row {
  font-weight: bold;
}
.log-level-WARNING {
  color: #9E9400;
}
.log-level-ERROR {
  color: #D62020;
}
/**********************
     editable label
 **********************/
.editablelabel-editable {
  border-bottom: 1px #9595a2 dashed;
}
.editablelabel .form-control {
  width: 5em;
}
/**********************
     tab bar
 **********************/
.gwt-TabBar .gwt-TabBarItem {
  white-space: nowrap;
  font-weight: normal;
  padding: 10px;
  background-color: #f3f3f5;
}
.gwt-TabBar .gwt-TabBarItem-selected {
  padding: 10px;
  background-color: #9595a2;
}
.gwt-TabPanelBottom {
  border: none;
  border-top: 1px solid;
  border-color: #9496b9;
}
.form {
  border-collapse: initial;
  border-spacing: 5px;
}
.panel-info > .panel-heading {
  color: #aaaab5;
  background-color: #b1b3cc;
  border-color: #f3f3f5;
}
.webhook-container {
  margin-top: 15px;
}
.webhook-container .control-label {
  margin-right: 5px;
}
.webhook-container .form-control {
  margin-right: 10px;
}
.datePickerDay {
  font-size: 100%;
}
.datePickerWeekdayLabel,
.datePickerWeekendLabel,
.datePickerMonthSelector {
  background-color: #aaaab5;
  color: #000;
  font-size: 110%;
  padding: 5px;
}
.gwt-DatePicker {
  border: 1px solid #9595a2;
}
.datePickerDay {
  font-size: 100%;
  padding: 5px;
}
td.datePickerMonth,
td.datePickerYear {
  font-size: 120%;
  color: #000;
  font-weight: normal;
}
.datePickerNextButton .html-face {
  color: #000;
  font-size: 200%;
  font-weight: normal;
}
.datePickerPreviousButton .html-face {
  color: #000;
  font-size: 200%;
  font-weight: normal;
}
