@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
/**********************
        myadmin
 **********************/
.top-spacer {
  margin-top: 1.5em;
}
.docklayoutpanel-center {
  margin: 1em;
}
.docklayoutpanel-east {
  margin-left: 1em;
}
.docklayoutpanel-north {
  margin-bottom: 1em;
}
.docklayoutpanel-south {
  margin-top: 1em;
}
.docklayoutpanel-west {
  margin-right: 1em;
  background-color: #f9f7d5;
}
.docklayoutpanel-line_end {
  margin-top: 1em;
}
.docklayoutpanel-line_start {
  margin-bottom: 1em;
}
.debug-border {
  border: 1px solid #FF0000;
}
.module {
  padding: 1em;
}
/*  when changing the error styles don't forget to also change the following styles:
	 - .dateBoxFormatError
*/
.title {
  font-size: 200%;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
.gwt-PopupPanelGlass {
  background-color: #000;
  opacity: 0.3;
  filter: literal("alpha(opacity=30)");
}
/**********************
        headers
 **********************/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #a09e7d;
}
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small,
h2 small,
h3 small,
h1 .small,
h2 .small,
h3 .small {
  font-size: 65%;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
h5 small,
h6 small,
h4 .small,
h5 .small,
h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
/**********************
     button group
 **********************/
.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.btn-group > .btn,
.btn-group-vertical > .btn {
  position: relative;
  float: left;
}
.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover,
.btn-group > .btn:focus,
.btn-group-vertical > .btn:focus,
.btn-group > .btn:active,
.btn-group-vertical > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn.active {
  z-index: 2;
}
.btn-group > .btn:focus,
.btn-group-vertical > .btn:focus {
  outline: 0;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: -1px;
}
.btn-toolbar:before,
.btn-toolbar:after {
  display: table;
  content: " ";
}
.btn-toolbar:after {
  clear: both;
}
.btn-toolbar:before,
.btn-toolbar:after {
  display: table;
  content: " ";
}
.btn-toolbar:after {
  clear: both;
}
.btn-toolbar .btn-group {
  float: left;
}
.btn-toolbar > .btn + .btn,
.btn-toolbar > .btn-group + .btn,
.btn-toolbar > .btn + .btn-group,
.btn-toolbar > .btn-group + .btn-group {
  margin-left: 5px;
}
.btn-group > .btn {
  margin-right: 0;
}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}
.btn-group > .btn:first-child {
  margin-left: 0;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.btn-group > .btn-group {
  float: left;
}
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}
.btn-group > .btn-group:first-child > .btn:last-child,
.btn-group > .btn-group:first-child > .dropdown-toggle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group > .btn-group:last-child > .btn:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}
/**********************
         button
 **********************/
.gwt-Button,
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.gwt-Button:active,
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.gwt-Button:hover,
.btn:hover,
.btn:focus {
  color: #f9f7d5;
  text-decoration: none;
}
.gwt-Button[disabled],
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
/**********************
     button default
 **********************/
.btn-default {
  background-color: #fff;
  border-color: #c3c1ae;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333;
  background-color: #ebebeb;
  border-color: #c3c1ae;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #c3c1ae;
}
.btn-default .badge {
  color: #fff;
  background-color: #ffffff;
}
/**********************
     button primary
 **********************/
.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary .badge {
  color: #428bca;
  background-color: #ffffff;
}
/**********************
       glyphicon
 **********************/
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  font-family: "Glyphicons Halflings";
}
.glyphicon-remove:before {
  content: "";
}
/**********************
       controls
 **********************/
.has-feedback {
  position: relative;
}
.form-group {
  margin-bottom: 15px;
}
.form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  vertical-align: middle;
  background-image: none;
  border: 1px solid #c3c1ae;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  background-color: #ffffff;
}
.form-control:focus {
  border-color: #afad93;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(160, 158, 125, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(160, 158, 125, 0.6);
}
.form-control-error {
  border-color: #A94442;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.form-control-error:focus {
  border-color: #A94442;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 6px #ce8483;
}
.form-control-feedback-help {
  position: absolute;
  font-size: 150%;
  font-weight: bold;
  top: 0px;
  right: -10px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.feedback-help-inline {
  position: absolute;
  font-size: 80%;
  font-weight: bold;
  height: 15px;
  cursor: pointer;
}
.form-control-feedback {
  /** top: 25px; */
  right: 0px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  position: absolute;
}
.form-control-disabled {
  cursor: not-allowed;
  background-color: #EEE;
  opacity: 1;
}
.navigationOverview td {
  text-align: center;
  vertical-align: middle;
}
.navigationOverviewPanelWrapper {
  margin: 0 auto;
}
.navigationOverviewPanelWrapper:hover {
  background-color: #d3d2c6;
  cursor: pointer;
}
.navigationOverviewPanel {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.navigationOverviewText {
  font-size: 18px;
}
.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader {
  border: 0px;
}
/**********************
    dictionary search
 **********************/
.dictionarySearchInputPanel {
  margin: 0.5em;
}
.dictionarySearchTextHighlight {
  font-weight: bold;
}
.dictionarySearchResultItemPanel {
  margin: 0.25em;
}
.dictionarySearchResultItemTitle {
  font-size: 120%;
  font-weight: bold;
}
/**********************
    humanized messages
 **********************/
.humanizedMessage {
  font-size: 3em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  border: 0px;
  padding: 1em;
}
.humanizedMessageError {
  background-color: #FF9999;
}
.humanizedMessageWarning {
  background-color: #FBFFA8;
}
.humanizedMessageInfo {
  background-color: #9999FF;
}
/**********************
    humanized messages
 **********************/
.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader {
  background-image: none;
  text-align: center;
  display: inline-block;
  background-color: #afad93;
  border-color: #a09e7d;
  vertical-align: middle;
}
.gwt-StackLayoutPanel .gwt-StackLayoutPanelContent {
  background: none;
  border: 0px;
}
.gwt-PopupPanel {
  border: 1px solid #cccccc;
  background-color: #ffffff;
  padding: 1em;
}
/**********************
   reference control
 **********************/
.gwt-SuggestBoxPopup .suggestPopupMiddleLeft {
  background: none;
  background-color: #fff;
  border-left: 1px solid #cccccc;
}
.gwt-SuggestBoxPopup .suggestPopupMiddleRight {
  background: none;
  background-color: #fff;
  border-right: 1px solid #cccccc;
}
.gwt-SuggestBoxPopup .suggestPopupTopLeft {
  background: none;
  border-bottom: 1px solid #cccccc;
}
.gwt-SuggestBoxPopup .suggestPopupTopCenter {
  background: none;
  border-bottom: 1px solid #cccccc;
}
.gwt-SuggestBoxPopup .suggestPopupTopRight {
  background: none;
  border-bottom: 1px solid #cccccc;
}
.gwt-SuggestBoxPopup .suggestPopupBottomLeft {
  background: none;
  border-top: 1px solid #cccccc;
}
.gwt-SuggestBoxPopup .suggestPopupBottomCenter {
  background: none;
  border-top: 1px solid #cccccc;
}
.gwt-SuggestBoxPopup .suggestPopupBottomRight {
  background: none;
  border-top: 1px solid #cccccc;
}
/**********************
     date control
 **********************/
.datePickerDay,
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  font-size: 100%;
}
/**********************
     help popup
 **********************/
.help-popup {
  width: 400px;
  overflow: auto;
}
/**********************
     column layout
 **********************/
.column-layout-horizontal-spacing {
  padding-left: 3em;
}
.endless-grid-new-row {
  font-weight: bold;
}
.log-level-WARNING {
  color: #9E9400;
}
.log-level-ERROR {
  color: #D62020;
}
/**********************
     editable label
 **********************/
.editablelabel-editable {
  border-bottom: 1px #a09e7d dashed;
}
/**********************
     tab bar
 **********************/
.gwt-TabBarItem {
  white-space: nowrap;
  margin: 10px;
  font-weight: normal;
  border-color: #afad93;
}
.gwt-TabBarItem-selected {
  margin: 5px;
  background-color: #c3c1ae;
}
.gwt-TabPanelBottom {
  border: none;
  border-top: 1px solid;
  border-color: #d3d2c6;
}
