<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	
	<display-name>ProjectName</display-name>

    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/projectname</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:/ProjectNameApplicationContext.xml,
			classpath:/ProjectNameWebApplicationContext.xml,
            classpath:/DBBaseApplicationContext.xml,
            classpath:/ProjectNameDB-gen.xml,
            classpath:/ProjectNameBaseApplicationContext-gen.xml,
            classpath:/MangoSpringServices-gen.xml,
            classpath:/MangoBaseApplicationContext.xml
		</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>remote</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>remote</servlet-name>
		<url-pattern>/remote/*</url-pattern>
	</servlet-mapping>

</web-app>